ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  /* width: 320px; */
  width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*----------------- header --------------- */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-italic {
  font-style: italic;
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 90px;
  align-items: center;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  gap: 14px;
}

/* ------------------------------------ */

/*----------------------- hero -------------------*/

.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.hero-wrap {
  background-color: rgba(17, 17, 17, 0.6);
  padding: 380px 40px 40px 40px;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/chocolate_main-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-duration: 2000ms;
  transition-property: transform;
}

.hero {
  padding-bottom: 80px;
}

.hero-btn-wrap {
  display: flex;
  align-items: center;
}

.hero-wrap:hover .hero-btn-main {
  transform: translate(600px);
}

.hero-btn-main {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  background-color: #fd9222;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  margin-right: 14px;
  transition-property: background-color, color, transform;
  transition-duration: 2000ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.hero-btn-main:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-btn-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: transparent;
}

.hero-btn-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-btn-scroll::after {
  content: "";
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50%;
  background-image: url(../images/facebook.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/*--------------------------------------*/

/*----------------- features ----------------*/

.features {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
}

.features-list {
  /padding-left: 18px;
  padding-right: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 88px;
  /* gap: 20px; */
}

.features-item {
  width: calc((100% - 2 * 88px) / 3);
  /* width: 100%; */
}

.features-subtitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
  color: #fff;
}

.features-item-title {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* ------------------------------------ */

/*------------------- taste ------------------*/

.taste {
  padding-top: 120px;
  padding-bottom: 60px;
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  max-width: 412px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.taste-title .accent {
  color: #fd9222;
}

.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.taste-item {
  width: calc((100% - 3 * 32px) / 4);
  border-radius: 15px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.taste-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}

.taste-item:nth-child(2n) {
  background-color: #fff;
  border: 1px solid #fd9222;
}

.taste-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
}

.taste-image {
  margin: 0 auto;
  margin-bottom: 36px;
}

.taste-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-left: 28px;
}

/* ------------------------------------- */

/*----------------- made --------------------*/

.made {
  padding-top: 60px;
  padding-bottom: 60px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-content {
  background-color: #ffffff;
  padding: 32px;
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  padding-bottom: 50px;
}

.made-title .accent {
  color: #fd9222;
}

.made-image {
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: #111;
  max-width: 350px;
  padding-bottom: 28px;
}

.made-list {
}

.made-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  margin-right: 8px;
}

.made-item span {
}

.made-item {
  margin-bottom: 24px;
  position: relative;
  padding-left: 16px;
}

.made-item:last-child {
  margin-bottom: 0;
}

.made-item-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/* ---------------------------------- */

/*------------------products ------------------------*/

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.products-title .accent {
  color: #fd9222;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
  margin-top: 50px;
}

.products-item {
  width: calc((100% - 54px) / 4);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.products-image {
  margin: 0 auto;
  margin-bottom: 13px;
}

.products-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}

.products-item-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 13px;
}

.products-btn {
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
  background: #fafafa;
}

/* ------------------------------------------ */

/*---------------- sellers ----------------*/

.sellers {
}

.sellers-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.sellers-title .accent {
  color: #fd9222;
}

.sellers-list {
}

.sellers-item {
}

.sellers-image {
}

.sellers-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}

/* --------------------------------------- */

/*-----------------loved -------------------------*/

.loved {
}

.loved-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.accent {
  color: #fd9222;
}

.loved-list {
}

.loved-item {
}

.loved-image {
}

.loved-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.loved-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.loved-btn {
  font-weight: 600;
  font-size: 18px;
  color: #111;
}

/* ------------------------------------------ */

/*------------------ footer -----------------------*/

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 24px;
}

.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
  margin-right: auto;
}

.footer-text .accent {
  color: #fd9222;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  margin-bottom: 14px;
}

.footer-soc-list {
  display: flex;
  gap: 14px;
}

.footer-soc-item {
}

.footer-soc-link {
}

.footer-contacts-wrap {
  margin-left: 50px;
}

.footer-contacts {
}

.footer-contacts-list {
}

.footer-contacts-item {
}
.footer-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu-list {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-form {
  display: flex;
  gap: 8px;
}
.footer-input {
  width: 313px;
  height: 52px;
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-btn {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  padding: 17px 40px;
  background-color: #fd9222;
  border: none;
}
/* ----------------------------------------- */

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(76, 76, 76, 0.605);
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  width: 517px;
  min-height: 794px;
  background-color: #fafafa;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-open-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 30px;
  background-color: #fcf1e0;
  border: 1px solid #948b8b;
  border-radius: 50%;
}

.modal-title {
  text-align: left;
  max-width: 298px;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.modal-field {
  margin-bottom: 18px;
}

.modal-field-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 300ms linear;
}

/* .modal-field-icon1 {
  fill: transparent;
  stroke: #404040;
} */

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  border: 1.5px solid rgba(17, 17, 17, 0.15);
  border-radius: 13px;
  box-shadow: 0 5px 5px 0 rgba (0, 0, 0, 0.03);
  background-color: transparent;
  font-size: 18px;
  color: purple;
  padding-left: 50px;
  width: 436px;
  height: 68px;
  outline: transparent;
  transition: border-color 300ms linear;
  margin-bottom: 18px;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus + .modal-field-icon {
  stroke: #fd9222;
}

.modal-input::placeholder {
  font-size: 14px;
  color: teal;
}

.modal-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.modal-text {
  width: 100%;
  height: 137px;
  border: 1.5px solid rgba(17, 17, 17, 0.15);
  border-radius: 13px;
  box-shadow: 0 5px 5px 0 rgba (0, 0, 0, 0.03);
  background-color: transparent;
  outline: transparent;
  transition: border-color 300ms linear;
  resize: none;
  padding: 22px 24px;
}

.modal-text::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.check-text {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
  gap: 12px;
}

.check-text span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .check-text span {
  border: none;
  background-color: #fd9222;
  fill: #eceded;
}
